@media screen and (min-width : 768px){
  html{ font-size : 14px;}
}

@media screen and (min-width : 1024px) {
  html{ font-size : 16px;} 
}

video {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #afeeee;
	color: #000000;
}